# Gemini API Key
GOOGLE_API_KEY="你的_GEMINI_API_KEY"

# LangSmith 設定
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="你的_LANGSMITH_KEY"
LANGCHAIN_PROJECT="Class_Demo_LangSmith"

# Langfuse 設定
LANGFUSE_SECRET_KEY="你的_LANGFUSE_SECRET_KEY"
LANGFUSE_PUBLIC_KEY="你的_LANGFUSE_PUBLIC_KEY"
LANGFUSE_HOST="https://cloud.langfuse.com"